@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;600;700;800&display=swap');

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* header nav section */
.header-nav {
    max-width: 1440px;
    height: 130px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.gamer-icon {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
    padding-right: 5px;
    padding-top: 10px;


}

.gamer {

    font-size: 45px;
    font-weight: 700;
}

.g {
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.game-div {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: left;

}

.face-icone {
    width: 20px;
}

.about-list {
    display: flex;
    list-style: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    gap: 20px;
    padding: 20px;
}

.follow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
}

/* main */
/* section 1 */
.main-section1 {
    max-width: 1440px;
    margin: auto;
    display: flex;
}

.section-1-first-div {
    width: 50%;
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 100%;
}

.goat-div {
    margin: auto;
    padding-top: 90px;
    padding-left: 80px;
}

.play-like {
    color: #0B0223;

    font-size: 48px;
    font-weight: 600;

}

.goat {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 95px;
    font-weight: 800;

}

.peragraf {
    color: #534C64;
    padding: 5px 0px 20px 10px;
    font-size: 20px;
    font-weight: 500;

}

.btn-singin {
    display: inline-flex;
    padding: 21px 40px;
    margin-top: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;

}

.btn-go {
    display: inline-flex;
    padding: 21px 40px;
    margin-top: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;

}

.section-1-second-div {
    width: 50%;
}

.img-group18 {
    padding-right: 50px;
    width: 100%;
    height: 90%;
}

/* main-section-2 */
.online-games {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.funny-video {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.online-peragraf {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   

}

.main-section-2-div {
    max-width: 1440px;
    padding-top: 50px;
    gap: 20px;
    display: flex;
    /*  */
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* align-content: center; */
   
    margin: auto;
}
.img-container{
    position: relative;
    margin: 10px;
    width: 95%;
height: 81%;
    

}
.img-container-icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.626);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;

}
.img-container-icon{
    width: 100%;
}
.img-container:hover .img-container-icon {
    opacity: 1;
}
.play-icon{
    width: 100px;
}
/* main section 3 */

.main-section-3 {
    width: 1440px;
    padding-top: 100px;
    display: flex;
    margin: auto;
}

.section-3-first-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.Play-Instantly {
    color: #0B0223;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.Play {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;

}

.play-peragraf {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.Play-Instantly-div {
    width: 400px;
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

.section-3-second-div {
    width: 50%;
}

.section-3-img-1 {
    position: absolute;
}

.section-3-img-2 {
    position: relative;
    top: 380px;
    left: -120px;
}

/* main-section-4 */
.main-section-4 {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    margin-top: 600px;
    justify-content: center;
    align-items: center;
}
.games-btn {
    width: 243px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}
.mahim {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.games-btn:hover {
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: transparent;
    -webkit-background-clip: text;
    border: 2px solid #FF42A5;

}

/* the footer  */
footer {
    margin-top: 200px;
    background-color: #0B0223;
}

.footer-first-div {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    padding-top: 100px;

}
.footer-game{
    margin-top: 8px;
}

.gamer-2 {
    text-align: center;
    padding-left: 20px;

    font-size: 45px;
    font-weight: 700;
    color: #FFFFFF;
}

.footer-second-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    gap: 50px;
}

.logo-div {
    /* width: 20px; */
    /* height: 10px; */
}

.logo-mahim {
    width: 50px;
    height: 50px;
}

.footer-3rd-div {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-list {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 50px;
    font-size: 16px;
    gap: 50px;
}

.footer-last-line {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    padding-bottom: 100px;
}

/* mobile responsiv */

@media screen and (max-width:576px) {
    .header-nav {
        margin-top: 20px;
        padding-top: 20px;
        flex-direction: column;
    }

    .goat-div {
        width: 90%;
        margin: auto;
        padding-top: 20px;
        padding-left: 20px;
    }

    .nav-item,
    .about-list {
        flex-direction: column;
    }

    .main-section1 {
        margin-top: 50px;
        width: 100%;
        flex-direction: column;
    }

    .section-1-first-div {
        margin: auto;
        width: 100%;
        height: 100%;
     
    }
    .btn-singin , .btn-go{
        justify-content: center;
        margin-left: 20px;
    }

    .section-1-second-div {
        padding-left: 50px;
        width: 80%;
    }

    .main-section-2-div {
        width: 100%;
        flex-direction: column;


    }

    .main-section-2-div img {
        width: 70%;
        padding-left: 70px;

    }
    .play-icon{
       /* width: 10px; */
       /* height: 10px; */
       /* border: 3px solid red; */
    }

    .main-section-3 {
        width: 100%;
        margin: auto;
        padding-top: 30px;
        flex-direction: column;
    }

    .section-3-first-div {
        width: 80%;
        margin: auto;
    }
    .section-3-img-1{
        width: 90%;
        padding-left: 30px;
        position: absolute;
    }
    .section-3-img-2{
        width: 250px;
        position: relative;
        top: 300px;
        /* padding-bottom: 300px; */
        left: 6px;

        
    }
    .section-3-second-div {
        /* width: 20%; */
        /* border: 2px solid red; */
        padding-top: 20px;
    }
  
    .img-container-icon{
        align-items: center ;
    }
    .main-section-4{
       top: 100px;
       
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        
    }
    .games-btn{
width: 150px;
height: 50px;
font-size: small;
padding: 20px;
gap: 10px;

    }
    .mahim{
        width: 30px;
        height: 30px;
    }
    .logo-mahim{
       
        width: 20px;
        height: 20px;
    }
    /*  */
    footer {
        margin-top: 80px;
        background-color: #0B0223;
    }
    
    .footer-first-div {
        display: flex;
        flex-wrap: wrap;
        
        margin-top: 20px;
        padding-top: 20px;
    
    }
    .frame{
        width: 50px;
    }
    .footer-game{
        margin-top: 8px;
    }
    
    .gamer-2 {
        text-align: center;
        padding-left: 10px;
        font-size: 35px;
        font-weight: 500;
        color: #FFFFFF;
    }
    
    .footer-second-div {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        color: #FFF;
        text-align: center;
        font-size: 7px;
        font-weight: 200;
        gap: 10px;
    }
    
    
    
    
    .footer-3rd-div {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .footer-list {
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin-top: 20px;
        font-size: 5px;
        gap: 10px;
    }
    
    .footer-last-line {
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-size: 8px;
        font-weight: 100;
        margin-top: 10px;
        padding-bottom: 20px;
    }
  
}

/* tab reponsive */

@media screen and (min-width:576px) and (max-width:992px) {
    .header-nav {
        flex-direction: column;
    }

    .main-section1 {
        width: 100%;
        flex-direction: column;
    }

    .goat-div {
        align-content: center;
        margin: auto;
        padding-top: 50px;
        padding-left: 50px;
    }

    .section-1-first-div {
        padding-left: 50px;
        width: 80%;

    }

    .section-1-second-div {
        padding-left: 90px;
        width: 80%;

    }

    .main-section-2-div {
        flex-direction: column;


    }

    .main-section-2-div img {
        width: 80%;
        padding-left: 80px;

    }

    .main-section-3 {
        width: 100%;
        padding-top: 30px;
        flex-direction: column;
    }

    .section-3-first-div {
        width: 80%;
        margin: auto;
    }

    .section-3-second-div {
        width: 90%;
        padding-top: 20px;
        padding-left: 100px;
    }
    
    .games-btn{
        width: 200px;
        height: 50px;
        font-size: small;
        padding: 20px;
        gap: 20px;
        margin: 20px;
        
            }
            .mahim{
                width: 30px;
                height: 30px;
            }
            footer {
                margin-top: 80px;
                background-color: #0B0223;
            }
            
            .footer-first-div {
                display: flex;
                flex-wrap: wrap;
                
                margin-top: 20px;
                padding-top: 20px;
            
            }
            .frame{
                width: 60px;
            }
            .footer-game{
                margin-top: 8px;
            }
            
            .gamer-2 {
                padding-left: 10px;
                font-size: 40px;
                font-weight: 500;
            }
            
            .footer-second-div {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                font-size: 12px;
                font-weight: 400;
                gap: 10px;
            }
            
            
            
            
            .footer-3rd-div {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            
            .footer-list {
                color: #FFFFFF;
                display: flex;
                margin-top: 20px;
                font-size: 10px;
                gap: 10px;
            }
            
            .footer-last-line {
                font-size: 17px;
                font-weight: 100;
                margin-top: 10px;
                padding-bottom: 20px;
            }
            .section-3-img-1{
                width: 90%;
                padding-left: 30px;
                position: absolute;
            }
            .section-3-img-2{
                width: 300px;
                position: relative;
                top: 520px;
            
                left:-80px;
        
                
            }
            
}